
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 900px;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
     
}

.calculator{
    width: 412px;
    padding: 10px;
    border-radius: 1%;
    background-color: rgb(36, 36, 36);
    height: 650px;
}

input{
    width: 360px;
    border: 10px;
    padding: 24px;
    margin: 10px;
    background: black;
    font-size: 50px;
    text-align: right;
    cursor: pointer;
    color: white;
    border-radius: 2%;

}

input::placeholder{
    color: white;
}

button{
    background-color: rgb(29, 29, 29);
    border: none;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 5%;
    font-size: 25px;   
    color: white;
    

}
.func{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 100%;
}
.eqbt{
    
    width: 174px;
    background-color: rgb(10, 103, 146);
    color: white;
}
.operator{
    background-color: rgb(10, 103, 146);
    color: white;
}
